{{> menu}}
<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to My Game
    </h1>
    <h4>
        Bear with Me....
    </h4>
</section>

{{> game}}


