{{> menu}}
<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to Weathertop
    </h1>
    <h4>
        Please Signup or Login using the menu above.
    </h4>
</section>
